@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: url(images/pattern-background-desktop.svg);
    background-color: hsl(225, 100%, 94%);
    align-items: center;
    justify-content: center;

}

#flex-main-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 420px;
    margin: auto;
    border-radius: 20px;
    background: white;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    margin: auto;
    box-shadow: 15px 10px 20px hsl(225, 100%, 90%);
}
#header-img {
    width: 100%;
    border-radius: 20px 20px 0 0 ;
}

#main-text {
    margin: 15px 25px 5px 25px;
}

h2 {
    font-weight: 900;
}

.text-light {
    font-weight: 500;
    font-size: 16px;
    color:hsl(224, 23%, 55%)
}

#flex-option {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background:hsl(225, 100%, 98%);
    margin: 20px 35px 20px 35px;
    border-radius: 10px;
    padding: 15px;
}

#plan {
    margin-right: 2.7vw;

}
#annual-plan {
    font-weight: 900;
}

#change-plan a{
    color: hsl(258, 75%, 52%);
    font-weight: 900;
    font-size: 12px;
    text-decoration: none;
}

p {
    margin: 2px;
}

#flex-form {
    display: flex;
    flex-direction: column;
    margin: 10px 35px 15px 35px;
}

.btn {
    border-radius: 10px;
    padding: 12px;
    border: none;
    font-weight: 700;
}

:hover .btn {
    cursor: pointer;
}

#btn-payment {
    background: hsl(245, 75%, 52%);
    color: white;
    margin-bottom: 20px;
    box-shadow: 15px 10px 20px hsl(225, 100%, 90%);
}

#cancel-order{
    font-size: 12px;
    color:hsl(224, 23%, 55%);
    text-decoration: none;
    font-weight: 900;
    margin-bottom: 40px;
}


@media (max-width: 440px) {  
    #flex-main-card {
        width: 350px;
    }
  }

  @media (max-width: 375px) {
    body {
        background: url(images/pattern-background-mobile.svg);
        background-color:hsl(225, 100%, 94%); 
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  
